# Server Configuration
PORT=5000
NODE_ENV=development
CORS_ORIGIN=*

# JWT Authentication Config
JWT_SECRET=rice_ecommerce_super_secure_jwt_secret_key_2026_x9842
JWT_EXPIRES_IN=7d

# Database Configuration (MongoDB Connection String with Mongoose)
MONGODB_URI=mongodb://127.0.0.1:27017/rice_store
